[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/Depeg-swap"]
	path = lib/Depeg-swap
	url = https://github.com/Cork-Technology/Depeg-swap
